<!DOCTYPE html>
<html>
  <Title>Homepage</Title>
  <body>
    <h1 style="color: blue; font-family: Times; position: center; height: 150px;">Home page</h1>
    <br>
    <img src="https://imgs.search.brave.com/zRgj1AkPaeEgB3j9Dv9JFJsGBbTE9hiFDcch0hcUA_8/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/Z29vZGZyZWVwaG90/b3MuY29tL2FsYnVt/cy93YWxlcy9jYXJk/aWZmL2xsYW5kYWZm/LWNhdGhlZHJhbC1u/YXZlLWNhcmRpZmYu/anBn" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <p>My name is Kelvin Kahuho. I have been in the shadows my whole life but I feel like I'm moving to the lights real soon. Living in the dark makes you realize the most important thing in life is light. Trying to get out is the worst part.
      Strugling to live in the light is another. I hope one day I walk in the light so boldly.

    </p>
  </body>
</html>