<!DOCTYPE html>
<html>
  <Title>Homepage</Title>
  <body>
    <h1 style="color: blue; font-family: Times;">Kelvin Kingori Kahuho</h1>
    <br>
    <img src="kelvin Kingori.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <p>My name is Kelvin Kahuho. I have been in the shadows my whole life but I feel like I'm moving to the lights real soon. Living in the dark makes you realize the most important thing in life is light. Trying to get out is the worst part.
      Strugling to live in the light is another. I hope one day I walk in the light so boldly.
      I'm in my final year at TUK -Technical University of Kenya. I'd say it was a pleasure to be there. So I realized I wasted my time there. Not really wasting but you get the point.
      I am learninhg programming on my own.  I want to be a Software Developer by December- If you ask me, I beleive that's possible. 
      I will focus on Web Development with Python and Javascript.

    </p>
  </body>
</html>